<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Louie v1.0 - The Kingsmen</title>

<!-- Core CSS -->
<link href="/public/css/material.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="/public/css/material-icons.css" rel="stylesheet">
<!-- Main CSS -->
<link href="/public/css/main.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/public/css/custom.css" rel="stylesheet">
</head>
<body>
    <div class="mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title mdl-color-text--black">Louie v {{version}}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/"><i class="material-icons">home</i></a>
                    <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/logout"><i class="material-icons">power_settings_new</i></a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout mdl-layout__content">
              {{{content}}}
        </main>
        {{>footer}}
    </div>
<!-- Core JavaScript -->
<script src="/public/js/material.min.js"></script>
</body>
</html>