<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
    <form action="/warning/{{student.fodselsnummer}}" method="post">
      <input type="hidden" name="studentName" value="{{student.name}}">
    <div class="mdl-card__title mdl-color-text--black">
      <h2 class="mdl-card__title-text">{{student.name}}</h2>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--black">
      {{>warning-type-list}}
      {{>courses-list}}
      {{>order-categories-list}}
      {{>behaviour-categories-list}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="/" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black" title="Slett varsel"><i class="material-icons">delete</i></a>
      <div class="mdl-layout-spacer"></div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color-text--black"><i class="material-icons">email</i></button>
    </div>
    </form>
  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>

<!-- Helperscript for form -->
<script src="/public/js/warning-form.js"></script>