.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-layout__header {
    background-color: #FFD520;

}

.mdl-button--fab.mdl-button--colored {
    background: #6AC4AE;
    color: #fff
}
.mdl-button--fab.mdl-button--colored:hover {
    background-color: #6AC4AE;
}

a {
    color: #6AC4AE;
    font-weight: 500
}

.mdl-card__media{
    background-color: #6AC4AE;
}

.mdl-color--primary {
    background-color: #FFD520 !important;
}

.mdl-button--accent {
    background-color: #6AC4AE !important;
}