.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}